<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.encryptionapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Encryptionapp">
        <activity android:name=".viewactivity.CredicardDesignAddActivity"></activity>
        <activity android:name=".viewactivity.CreditcardAddActivity" />
        <activity android:name=".viewactivity.PhoneAddActivity" />
        <activity android:name=".viewactivity.NoteAddActivity" />
        <activity android:name=".viewactivity.NavigationDrawer" />
        <activity android:name=".viewactivity.EnterActivity" />
        <activity
            android:name=".viewactivity.RecordActivity"
            android:parentActivityName=".viewactivity.MainActivity" />
        <activity android:name=".viewactivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>